@use '../../partials/responsive' as responsive;

.navToggle {

    @include responsive.sm {
        visibility: visible !important;
    }

    @include responsive.md {
        visibility: hidden;
        // display: none;
    }
}

.nav {
    display: flex;
    position: relative;
    width: 90%;
    height: 25px;
    margin: 0 auto;
    top: 64px;
    justify-content: space-between;
    z-index: 10;
    color: #FFFFFF;
    transition: all 300ms ease-in-out;

    @include responsive.sm {
        visibility: hidden;
        margin: -2rem 0;
        height: 300px;
        width: 350px;
        padding: 20px;
        flex-direction: column;
        align-items: center;

        background-color: #354147;

    }

    & .navLinks {
        display: flex;
        justify-content: space-between;
        gap: 20px;

    }

    & .navTitle {
        font-size: 32px;
        line-height: 38px;
        letter-spacing: 0.01em;
        text-transform: capitalize;
    }

    & .navRight {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}


 @include responsive.sm {
     .showNav {
         visibility: visible;
         z-index: 10px;
         transform: translateX(0);
        }
        
        .hideNav {
            visibility: hidden;
            transform: translateX(-500px);
     }
 }