.footer {
    position: relative;
    top: 70rem;
    left: 70px;
    padding-bottom: 2rem;
    height: 280px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    color: white;

    & .footerLeft {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;

        & h2 {
            font-size: 32px;
            line-height: 38.4px;
        }

        & p {
            font-size: 18px;
            line-height: 32px;
            font-weight: 700;
        }
    }

    & .footerRight {
        display: flex;
        gap: 20px;
        // flex-grow: 3;

        & .footerRight_left {
            height: 170px;

            & .linksOne {
                display: flex;
                height: 100%;
                gap: 10px;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        & .footerRight_right {
            height: 170px;

            & .linksTwo {
                display: flex;
                height: 100%;
                gap: 10px;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        & .footerRight_left h2, .footerRight_right h2 {
                font-size: 24px;
                margin-bottom: 1.5rem;
                line-height: 32px;
                font-weight: 700;
                color: #FBD784;
        }
    }
}