.sidebar {
    flex: .3;
    max-height: 100%;
    width: 100%;
    background-color: blueviolet;
    // opacity: 0.6;
    z-index: 9999;
    position: relative;
}

.sidebar_header {
    height: 100px;
}

.header_search {
    width: 230px;
    background-color: #333;
    opacity: .8;
    padding: 5px;

    .headerSearch_input {
        background-color: inherit;
        border: none;
        margin-left: 10px;
        padding: 4px;
    }

}